
<!DOCTYPE html>
{% extends "task/boot.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>



<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</head>
<body>
<h2>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <!--<a href="test">reporting</a>-->
</h2>
<a href="task/home.html">home</a>
ssss {{user.email}}
username{{user.username}}
<h1 align="center">Create athlete</h1>
    <form method="post" action="addnew">
        <table>
       {% csrf_token %}
       {{ form.as_table }}
            </table>
        <input type="submit" class="btn btn-success">


    </form>
{% if messages %}
    <div class="col-lg-3 color03">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% for contact in contacts %}
  {{contact.full_name|upper}}</br>
{% endfor %}

<div calss="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
           <a href="?page={{ contacts.previous_page_number }}">previous"</a>
        {% endif %}

        <span class="current">
            page{{contacts.number}} of {{contacts.paginator.num_pages}}.
        </span>

        {% if contacts.has_next %}
           <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</body>
</html>
{% endblock %}