<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

</head>
<body>
<h1>
Create athlete
</h1>
<form method="post" >
<table>
<tr>
<td>firstname</td>
<td>
<input type="text" name="firsname" />
</td>
</tr>
<tr>
<td>lastname</td>
<td>
<input type="text" name="lastname" />
</td>
</tr>
<tr>
<td>phonenumber</td>
<td>
<input type="text" name="phonenumber" />
    </td>
</tr>
<tr>
<td>namesport</td>
<td>
<select name="Sport">
<option value="" selected>---------</option>

  <option value="1">footbal</option>

  <option value="2">basketbal</option>

  <option value="3">valiball</option>
</select>
</td>
</tr>
        <td>
            <input type="radio" name="male",value="male" >male<br>
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio" name="fmale",value="fmale">famle<br>
        </td>
    </tr>
    <td>
        <div class="form-row field-birth_data">


                <div>


                        <label for="id_birth_data_0">visit_first_data:</label>

                            <p class="datetime">
  Date: <input type="text" name="visit_birth_data_0" size="10" class="vDateField" id="id_birth_data_0" />

<br />
  Time: <input type="text" name="visit-birth_data_1" size="8" class="vTimeField" id="id_birth_data_1" />


</p>



                </div>

        </div>
</td>
    </tr>

    <td>
        <div class="form-row field-birth_data">


                <div>


                        <label for="id_birth_data_0">Date of birthday:</label>

                            <p class="datetime">
  Date: <input type="text" name="birth_data_0" size="10" class="vDateField" id="id_birth_data_0" />

<br />
  Time: <input type="text" name="birth_data_1" size="8" class="vTimeField" id="id_birth_data_1" />


</p>



                </div>

        </div>

</td>
        <tr>
<td>skill</td>
<td>
<select name="skill">
<option value="" selected>---------</option>

  <option value="1">primary</option>

  <option value="2">meduim</option>

  <option value="3">profisional</option>
</select>
</td>
</tr>
    <tr>
    <td>
        nameskill

    </td>
    <td>
        <input type="text" name="nameskill">
    </td>
    </tr>
    <tr>
    <td>profill</td>
    <td>
        <input type="text" name="profil" size="30" width="20" height="20">
    </td>
    </tr>
<td>
<input type="submit" value="create" />
</td>
</tr>
</table>
</form>
</body>
</html>