<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show table</title>
</head>
<body>

<form action="" method="get">
    <input name="nam"><input type="submit">

</form>
{% if latest_Athlete_list %}

    <table border = "0"  class="table">

        <tr>
        <th>firsname </th>
        <th>lastname</th>
            <th>phonenumber
            <th>namesport</th>
            <th>birth_data</th>
            <th>visit_first_date</th>
            <th>male</th>
            <th>famel</th>
            <th>age</th>
            <th>skill</th>
            <th>nameskill</th>
            <th>profil</th>
        </tr>
    {% for athlete in latest_Athlete_list %}
        <tr>
        <td>{{ athlete.firstname }}</td>
        <td><a href="/task/{{ athlete.lastname }}/">{{ athlete.lastename }}</a></td>
            <td>{{ athlete.phonenumber }}</td>
            <td>{{ athlete.namesport }}</td>
            <td>{{ athlete.birth_data }}</td>
            <td><a href="/task/{{athlete.visit_first_data}}/">{{ athlete.visit_first_date }}</a></td>
            <td>{{ athlete.male }}</td>
            <td>{{ athlete.famale }}</td>
            <td>{{ athlete.age }}</td>
            <td>{{ athlete.skill }}</td>
            <td>{{ athlete.name_skill }}</td>
            <td>{{ athlete.profil }}</td>

        </tr>


    {% endfor %}
    </table>
{% else %}
    <p>No task are available.</p>
{% endif %}
<style>
    table tr:nth-child(even){
    background:#f1f1f1;
    }
    table tr:nth-child(odd){
    background:green;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>