<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show table</title>
</head>
<body>
<a href="task/home.html">home</a>
{% if latest_Athlete_list %}

    <table  border = "0"  class="table">

        <tr>
        <th>firsname </th>
        <th>lastname</th>
            <th>phonenumber
            <th>namesport</th>
            <th>birth_data</th>
            <th>visit_first_date</th>
            <th>male</th>
            <th>famel</th>
            <th>age</th>
            <th>skill</th>
            <th>nameskill</th>
            <th>profil</th>
            <th>delete</th>
            <th>update</th>
        </tr>
    {% for athlete in latest_Athlete_list %}
        <tr lass="datarow">
        <td>{{ athlete.firstname }}</td>
        <td><a href="/task/{{ athlete.lastname }}/">{{ athlete.lastename }}</a></td>
            <td>{{ athlete.phonenumber }}</td>
            <td>{{ athlete.namesport }}</td>
            <td>{{ athlete.birth_data }}</td>
            <td><a href="/task/{{athlete.visit_first_data}}/">{{ athlete.visit_first_date }}</a></td>
            <td>{{ athlete.male }}</td>
            <td>{{ athlete.famale }}</td>
            <td>{{ athlete.age }}</td>
            <td>{{ athlete.skill }}</td>
            <td>{{ athlete.name_skill }}</td>
            <td>{{ athlete.profil }}</td>
            <td>
                <form action="delete" method="post">
		           {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{athlete.id}}" />
			       <input type="submit" value="delete item">
			</form>
            </td>
            <td>
                <a href="/task/update/{{athlete.id }}">Edit</a>
            </td>

        </tr>


    {% endfor %}
    </table>
{% else %}
    <p>No task are available.</p>
{% endif %}
<style>
    table tr:nth-child(even){
    background:yellow;
    }
    table tr:nth-child(odd){
    background:red;
    }
</style>
</body>
</html>